/*
    reset.css
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: auto !important;
    min-width: 1280px;
}

ol, ul {
    list-style: outside none none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}

/*
    css.css
*/
/*
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxhgVThLs8Y7ETJzDCYFCSLE.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxpiMaisvaUVUsYyVzOmndek.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrBAWGjcah5Ky0jbCgIwDB8.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxv14vlcfyPYlAcQy2UfDRm4.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxqfJul7RR1X4poJgi27uS4w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxqvyPXdneeGd26m9EmFSSWg.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjTOQ_MqJVwkKsUn0wKzc2I.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjUj_cnvWIuuBMVgbX098Mw.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBkbcKLIaa1LC45dFaAfauRA.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmo_sUJ8uO4YLWRInS22T3Y.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBr6up8jxqWt8HVA3mDhkV_0.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBiYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmgpAmOCqD37_tyH_8Ri5MM.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxsPNMTLbnS9uQzHQlYieHUU.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgyhumQnPMBCoGYhRaNxyyY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxhUVAXEdVvYDDqrz3aeR0Yc.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxlf4y_3s5bcYyyLIFUSWYUU.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnywqdtBbUHn3VPgzuFrCy8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp6iIh_FvlUHQwED9Yt5Kbw.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi_vZmeiCMnoWNN9rHBYaTc.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxiFaMxiho_5XQnyRZzQsrZs.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgalQocB-__pDVGhF3uS2Ks.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmhQUTDJGru-0vvUpABgH8I.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxujkDdvhIIFj_YMdgqpnSB0.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxiU8QAtQT9M0M1_mbVWrUPc.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkNaUOL0oYRolx8sebiIY9k.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxooGEx1DzoxsbCRd2IM2afI.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnPzCMEhbIaaYiFY6KPniws.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmqi69zMYkLa7XwlUIemKB4.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxowYyzpnB4tyYboSwKGmD2g.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/

/*
    css-1.css
*/

/*
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"), url("zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat-Bold"), url("IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/


/*
    css-2.css
*/

/*
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg_woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxhgVThLs8Y7ETJzDCYFCSLE.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxpiMaisvaUVUsYyVzOmndek.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrBAWGjcah5Ky0jbCgIwDB8.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxv14vlcfyPYlAcQy2UfDRm4.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxqfJul7RR1X4poJgi27uS4w.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxqvyPXdneeGd26m9EmFSSWg.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjTOQ_MqJVwkKsUn0wKzc2I.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjUj_cnvWIuuBMVgbX098Mw.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBkbcKLIaa1LC45dFaAfauRA.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmo_sUJ8uO4YLWRInS22T3Y.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBr6up8jxqWt8HVA3mDhkV_0.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBiYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmgpAmOCqD37_tyH_8Ri5MM.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxsPNMTLbnS9uQzHQlYieHUU.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgyhumQnPMBCoGYhRaNxyyY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxhUVAXEdVvYDDqrz3aeR0Yc.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxlf4y_3s5bcYyyLIFUSWYUU.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnywqdtBbUHn3VPgzuFrCy8.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp6iIh_FvlUHQwED9Yt5Kbw.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi_vZmeiCMnoWNN9rHBYaTc.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxiFaMxiho_5XQnyRZzQsrZs.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgalQocB-__pDVGhF3uS2Ks.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmhQUTDJGru-0vvUpABgH8I.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxujkDdvhIIFj_YMdgqpnSB0.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxiU8QAtQT9M0M1_mbVWrUPc.woff2") format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkNaUOL0oYRolx8sebiIY9k.woff2") format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxooGEx1DzoxsbCRd2IM2afI.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnPzCMEhbIaaYiFY6KPniws.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmqi69zMYkLa7XwlUIemKB4.woff2") format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxowYyzpnB4tyYboSwKGmD2g.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/


/*
    style.css
*/

html {
}

body {
    overflow-x: hidden;
}

.bl {
    font-weight: bold;
}

.tc {
    text-align: center;
}

.f11 {
    font-size: 11px;
}

.f34 {
    font-size: 34px;
}

.mb10 {
    margin-bottom: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

#form {
    position: relative;
    top: 25px;
    float: right;
    width: 319px;
    font-family: "Open Sans",sans-serif;
}

#form-top {
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/img/cp-form-top.jpg") no-repeat scroll 0% 0%;
    width: auto;
    height: 97px;
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
}

#form-inner {
    width: auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding-bottom: 12px;
    padding-top:12px;
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
}

form {
    text-align: right;
    font-size: 12px;
    padding: 10px 22px 11px;
}

input[type="text"] {
    height: 30px;
    margin-bottom: 12px;
    text-indent: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

form select {
    -webkit-appearance:none;
    height: 34px !important;
    width: 188px;
    margin-left: 9px;
    border-radius: 5px;
    text-indent: 8px;
    background: white;
}

.form-button {
    position: relative;
    top: 37px;
    left: 14px;
    width: 278px;
}

input[type="submit"] {
    background: rgb(76, 214, 0) none repeat scroll 0% 0%;
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: medium none;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 15px 20px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px rgb(123, 123, 123);
    position: relative;
}

.form-button:active input[type="submit"] {
    background-color: rgb(166, 214, 0);
    top: 4px;
    box-shadow: 0px 0px 0px 0px rgb(123, 123, 123);
}

.form-button:hover::before {
    background: rgb(2, 207, 171) none repeat scroll 0% 0%;
}

label {
    display: inline-block;
}

:-moz-placeholder {
    font-style: italic;
    font-size: 11px;
    font-family: helvetica;
}

form {
    text-align: right;
}

label {
}

input {
}

select {
}

button {
}

footer p a {
    text-decoration: none;
}

textarea, input {
    outline: medium none;
}

#form form .text {
    position: relative;
    display: block;
    overflow: hidden;
    height: 41px;
    margin-bottom: -1px;
}


/*
    lp-custom.css
*/
body {
    background: rgb(244, 246, 248) none repeat scroll 0% 0%;
}

h2 {
    font-size: 20px;
    background: rgb(45, 126, 199) none repeat scroll 0% 0%;
    text-align: center;
    font-family: "Montserrat",Arial;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 40px;
}

h2 span {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 14px;
    line-height: 22px;
}

.after::after {
    content: "";
    display: block;
    clear: both;
}

#warning {
    position: absolute;
    top: 0px;
    background: rgb(1, 170, 198) none repeat scroll 0% 0%;
    font-family: "Open Sans",sans-serif;
    margin: 0px auto;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10.5px 0px;
}

#warning p {
    text-align: center;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: normal;
    font-weight: 500;
}

#warning .warning-word {
    font-weight: bold;
}

#wrapper, #top-inner {
    width: 1000px;
    margin: 0px auto;
    font-family: "Open Sans",sans-serif;
    position: relative;
    left: -1px;
}

#top-inner p {
    font-size: 16px;
}

#top {
    width: 100%;
    height: 799px;
    position: relative;
    overflow: hidden;
}

#top-inner {
    height: 100%;
}

#form {
    position: absolute;
    width: 311px;
    bottom: 0px;
    right: 1px;
    z-index: 10;
    top: 41px;
    font-family: "Open Sans",Arial;
}

#form .timer {
    position: relative;
    top: 50px;
    left: 60px;
    font-size: 20px;
}

#form .timer span {
    color: white;
    background: black none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 8px 5px;
    margin-right: 2px;
    font-weight: bold;
}

#form-top {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/form-top.jpg") no-repeat scroll 0% 0%;
    width: auto;
    height: 149px;
}

#form-inner {
    width: auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    height: 385px;
    padding-bottom: 0px;
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
}

#form-btm {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/form-btm.jpg") no-repeat scroll 0% 0%;
    width: auto;
    height: 186px;
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
    border-bottom: 1px solid rgb(85, 85, 85);
}

#form form .text {
    position: relative;
    display: block;
    overflow: hidden;
    height: 46px;
    margin-bottom: -1px;
}

form {
    text-align: right;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
}

input[type="text"] {
    height: 30px;
    width: 185px;
    text-indent: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

#form form select {
    width: 61%;
    height: 32px;
    border-radius: 5px;
}

.form-button {
    position: relative;
    left: 14px;
    width: 278px;
}

.form-button .arrow {
    position: absolute;
    left: 30px;
    top: 26px;
    z-index: 10;
}

input[type="submit"] {
    width: 100%;
    background: rgb(76, 214, 0) none repeat scroll 0% 0%;
    font-family: "Montserrat";
    font-size: 22px;
    color: rgb(255, 255, 255);
    border: medium none;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 0px 20px 20px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px rgb(123, 123, 123);
    position: relative;
}

.form-button:active input[type="submit"] {
    background-color: rgb(166, 214, 0);
    top: 4px;
    box-shadow: 0px 0px 0px 0px rgb(123, 123, 123);
}

.form-button:active .arrow {
    top: 30px;
}

.form-button:hover::before {
    background: rgb(255, 174, 0) none repeat scroll 0% 0%;
}

:-moz-placeholder {
    font-style: italic;
    font-size: 11px;
}

.cta {
    background: rgb(0, 69, 150) none repeat scroll 0% 0%;
    width: 100%;
    height: 115px;
    clear: both;
    position: relative;
}

.cta .content {
    color: white;
    position: relative;
    top: 27px;
    left: 45px;
}

.cta .content h2 {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
}

.cta .content p {
    font-size: 16px;
    padding-top: 15px;
    letter-spacing: 3px;
}

.cta a, #down-btn {
    position: absolute;
    right: 40px;
    top: 23px;
    background: rgb(76, 214, 0) none repeat scroll 0% 0%;
    text-align: right;
    font-family: "Montserrat";
    font-size: 22px;
    color: rgb(255, 255, 255);
    border: medium none;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 25px 20px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px rgb(123, 123, 123);
    display: block;
    text-decoration: none;
}

.cta a .arrow {
    position: relative;
    left: -10px;
    bottom: 2px;
}

.cta a:active {
    margin-top: 4px;
    box-shadow: 0px 0px 0px 0px rgb(255, 132, 0);
    background: rgb(166, 214, 0) none repeat scroll 0% 0%;
}

#section-1 {
    position: relative;
    background: transparent url("https://images.templatemgr.com/templates/v23/img/section-2-bg.jpg") no-repeat scroll center top;
    height: 609px;
    margin-top: 50px;
    border: 1px solid rgb(218, 218, 218);
}

#section-1 .content1 {
    width: 670px;
    padding: 30px 0px 0px 40px;
}

#section-1 p {
    padding-bottom: 15px;
    width: 85%;
}

#section-2 {
    position: relative;
    padding-top: 50px;
}

#section-2 .headers {
    color: rgb(121, 121, 121) !important;
    background: rgb(228, 228, 228) none repeat scroll 0% 0%;
    width: 391px;
    float: right;
    font-family: "Montserrat";
    padding: 15px 0px;
    margin-bottom: 10px;
}

#section-2 .headers h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    text-align: left;
    color: rgb(121, 121, 121) !important;
}

#section-2 .headers h3 {
    font-size: 20px;
    font-weight: normal;
}

#section-2 .headers h2, #section-2 .headers h3 {
    padding-left: 23px;
}

#section-2 .content-list .spot-header {
    position: absolute;
    top: -26px;
    right: 145px;
}

#section-2 .content-list ul {
    width: 391px;
    float: right;
    clear: both;
}

#section-2 .content-list ul li {
    margin-bottom: 10px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#section-2 .content-list ul li h3 {
    font-weight: bold;
    font-family: "Montserrat";
}

#section-2 .content-list ul li h3, #section-2 .content-list ul li p {
    line-height: 18px;
    color: rgb(51, 51, 51);
}

#section-2 .content-list ul li h3 {
    font-size: 14px;
}

#section-2 .content-list ul li p {
    font-size: 14px;
}

#section-2 .content-list ul li .content {
    padding: 10px 15px 10px 23px;
    position: relative;
}

#section-2 .content-list ul li:first-child .content {
    border-left: 5px solid rgb(255, 246, 0);
}

#section-2 .content-list ul li:nth-child(2) .content {
    border-left: 5px solid rgb(76, 214, 0);
}

#section-2 .content-list ul li:nth-child(3) .content {
    border-left: 5px solid rgb(1, 170, 201);
}

#section-2 .content-list ul li:last-child .content {
    border-left: 5px solid rgb(0, 69, 150);
}

#section-2 .cta {
    top: 10px;
}

#section-3 {
    background: white none repeat scroll 0% 0%;
    margin-top: 45px;
    position: relative;
    padding-bottom: 30px;
}

#section-3 h2 {
    position: relative;
    z-index: 10;
}

#section-3 .content {
    width: 398px;
    padding: 50px 0px 0px 60px;
    position: relative;
    z-index: 11;
}

#section-3 .content p {
    padding-bottom: 23px;
    font-size: 14px;
    line-height: 20px;
}

#section-3 .content ul {
    list-style-image: url("https://images.templatemgr.com/templates/v23/img/dot.jpg");
    padding-left: 15px;
    padding-bottom: 20px;
}

#section-3 .content ul li {
    color: rgb(51, 51, 51);
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: bold;
}

#section-3 .content ul li p {
    padding-bottom: 7px;
    padding-left: 10px;
}

#section-3 .jar {
    position: absolute;
    top: 0px;
    right: 20px;
}

#section-4 {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#section-4 .content-4 {
    width: 497px;
    float: right;
}

#section-4 .content-4 h2 {
    width: 100%;
    padding: 20px 0px;
    text-align: left;
    text-indent: 40px;
}

#section-4 .content-4 .content-inner {
    padding: 30px 43px;
}

#section-4 .content-4 .content-inner h3 {
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding-bottom: 20px;
}

#section-4 .content-4 .content-inner p {
    padding-bottom: 25px;
}

#section-4 .content-4 .content-inner .quote {
    margin: 0px auto;
    display: block;
    padding-bottom: 24px;
}

#section-5 {
    padding-top: 23px;
    padding-bottom: 30px;
}

#section-5 .content img {
    display: inline-block;
    margin-right: 14px;
}

#section-5 .content img:last-child {
    float: right;
    margin: 0px;
}

#btm {
    position: relative;
}

#btm .cta {
    margin-top: 288px;
    margin-left: -42px;
    background: transparent none repeat scroll 0% 0%;
}

#reminder {
    background: rgb(228, 228, 228) none repeat scroll 0% 0%;
    width: 295px;
    font-family: "Montserrat",Arial;
    font-size: 13px;
    text-align: center;
    padding: 13px 0px;
    color: rgb(85, 85, 85);
    position: absolute;
    bottom: -105px;
    left: 350px;
    border-top: 1px solid rgb(205, 205, 205);
    border-left: 1px solid rgb(205, 205, 205);
    border-right: 1px solid rgb(205, 205, 205);
    display: none;
}

#reminder p {
    line-height: normal;
}

.legal {
    text-align: center;
    font-family: arial;
    height: 90px;
    margin: 50px auto 100px;
    color: rgb(138, 138, 138);
    width: 80%;
}

.legal p {
    font-size: 12px;
    line-height: 18px;
}

footer {
    font-family: arial;
    margin: 0px auto;
    position: relative;
    top: -65px;
    color: rgb(138, 138, 138);
    font-size: 11px;
    padding-bottom: 40px;
}

footer p a {
    color: rgb(138, 138, 138);
    font-size: 11px;
}

footer p {
    text-align: center;
    clear: both;
    font-size: 11px;
}

#popover {
    background: rgb(255, 255, 255) url("https://images.templatemgr.com/templates/v23/img/down-bg.jpg") no-repeat scroll center top / cover;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: scroll;
}

#popover img {
    display: block;
    margin: 25px auto 0px;
}

#overlay {
    position: fixed;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#pop-box div > h2 {
    text-indent: 0px;
    font-family: "Montserrat",sans-serif;
    font-size: 80px;
    font-weight: 700;
    background: transparent none repeat scroll 0% 0%;
    color: rgb(1, 170, 201);
}

#pop-box div > h3 {
    font-family: "Montserrat",sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: rgb(1, 170, 201);
    padding: 10px 0px;
}

#pop-box {
    width: 765px;
    margin: 0px auto;
    font-size: 24px;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 100px;
    opacity: 0;
    transition-property: opacity, top;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
    transition-delay: 0.75s;
}

#pop-box .para {
    margin: 0px;
}

#pop-box p {
    text-align: center;
    font-family: "Open Sans",sans-serif;
    line-height: normal;
    font-size: 19px;
    color: rgb(51, 51, 51);
}

#pop-box p span {
    font-weight: 800;
}

#down-btn {
    background: rgb(76, 214, 0) none repeat scroll 0% 0%;
    box-shadow: 4px 4px 0px 0px rgb(90, 90, 90);
    border-radius: 5px;
    font-family: "Montserrat",sans-serif;
    width: 350px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    position: relative;
    font-weight: bold;
    display: inline-block;
    padding: 25px 45px 25px 55px;
    text-decoration: none;
    margin: 15px 0px;
    top: 0px;
    right: 0px;
}

#down-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 4px;
    background: rgb(166, 214, 0) none repeat scroll 0% 0%;
}

#down-btn::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 30px;
    top: 30px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid rgb(255, 255, 255);
}

#pop-terms p {
    font-size: 11px;
    padding: 0px 45px;
}

#pop-terms p a {
    color: rgb(51, 51, 51);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #outer-wrapper {
        background-size: 155% auto;
        margin: 0px auto;
        width: 100%;
        min-width: 1300px;
        overflow: hidden;
    }

    #warning {
        min-width: 1300px;
    }
}


/*
    toastr.min.css
*/
#toast-container > :hover {
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    opacity: 1;
    cursor: pointer;
}


/*
    styles.css
*/
footer a {
    color: rgb(85, 85, 85);
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

#preloader .overlay {
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#spinner-content {
    width: 200px;
    margin: 20% auto;
    position: relative;
    z-index: 3;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    text-align: center;
    background: white none repeat scroll 0% 0%;
    padding: 15px 25px 35px;
    border: 1px solid rgb(204, 204, 204);
    line-height: 19px;
}

#spinner {
    height: 50px;
    width: 50px;
    border-width: 5px;
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/jblib/img/pre-spinner.png") repeat scroll 0% 0%;
    margin: 55px auto;
    animation: 0.75s linear 0s normal none infinite running clockwise;
}

@keyframes clockwise {
    100% {
        transform: rotate(360deg) translateZ(0px);
    }
}

@keyframes clockwise {
    100% {
        transform: rotate(360deg) translateZ(0px);
    }
}

#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxTitle {
    margin: 0px;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
}

#cboxOverlay {
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    opacity: 0.9;
}

#colorbox {
    outline: 0px none;
}

#cboxContent {
    margin-top: 20px;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
}

#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0px;
    color: rgb(204, 204, 204);
}

#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0px;
    color: rgb(204, 204, 204);
}

#cboxLoadingGraphic {
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/jblib/images/loading.gif") no-repeat scroll center center;
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0px none;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    width: auto;
    background: transparent none repeat scroll 0% 0%;
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0px none;
}

#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: rgb(255, 255, 255);
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/jblib/img/controls.png") no-repeat scroll left top;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxPrevious:hover {
    background-position: left bottom;
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/jblib/img/controls.png") no-repeat scroll right top;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxNext:hover {
    background-position: right bottom;
}

#toast-container > :hover {
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    opacity: 1;
    cursor: pointer;
}

/*
    Inline
*/
#productImage2 {
    position: absolute;
    top: 155px;
    right: 180px;
    width: 22%;
}

#productImage1 {
    position: absolute;
    width: 350px;
    right: 770px;
    top: 450px;
}

#productImage1b {
    position: absolute;
    /*top: 495px;*/
    /*right: 754px;*/
    width: 280px;
    right: 840px;
    top: 510px;
}

#productImage1c {
    position: absolute;
    top: 104px;
    right: 535px;
    width: 165px;
}

#productImage3a {
    position: absolute;
    top: 3063px;
    right: 310px;
    width: 22%;
}

#productImage3b {
    position: absolute;
    top: 3096px;
    right: 380px;
    width: 18%;
    z-index: 0;
}

#rushMyTrailBtn {
    margin-top: 20px;
    width: 90%;
    text-align: center;
    margin-right: 15px;
}

#popupImg1 {
    position: absolute;
    top: 232px;
    right: 494px;
    width: 289px;
    z-index: 1;
}

#popupImg2 {
    position: absolute;
    top: 273px;
    right: 586px;
    width: 239px;
}

input[type="text"], input[type="tel"] {
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

#fields_address1, #fields_fname, #fields_lname, #fields_city, #fields_state, #fields_zip, #fields_phone, #fields_email {
    width: 60%;
}

#fields_address1, #fields_fname, #fields_lname, #fields_city, #fields_zip, #fields_phone, #fields_email {
    text-indent: 8px !important;
}

label {
    margin-top: 16px;
    padding-left: 5% !important;
    text-align: right;
    width: 22%;
}

#fields_state {
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 154px;
}

#productImage4 {
    position: absolute;
    top: 2997px;
    width: 20%;
    right: 71px;
}

#outer-wrapper {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/bg.png") no-repeat scroll center top;
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
}

.white-popup {
    background-color: rgba(0, 0, 0, 0.00);
}

input[type="text"], input[type="tel"], select {
  margin-right: 6% !important;
  height: 30px !important;
}

.input-validation {
  padding-right: 28px !important;
  margin-top: -34px !important;
}

.input-validation{
    margin-right: 2%;
}

#lock {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/rush-arrow.png") no-repeat scroll 0 0;
    width: 18px;
    height: 23px;
    position: absolute;
    top: 612px;
    left: 41px;
    z-index: 10;
}

#brandImage1{
    width: 25%;
    position: absolute;
    left: 39%;
    top: 15%;
}

#section4Box {
	position: absolute;
  margin-top: -426px;
}
#section4Text1{
	position: absolute;
	width: 68px;
	margin-left: 421px;
	margin-top: 36px;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
	font-family: 'Permanent Marker', cursive;
	font-size: 14px;
}
#section4Text2{
	position: absolute;
	width: 505px;
	text-align:center;
	margin-top: 158px;
	font-size: 19px;
	font-weight: bold;
	color: #FFF;
}

/* latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: local('Permanent Marker'), local('PermanentMarker'), url(https://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMsW72xVeg1938eUHStY_AJ4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@media screen and (max-width: 1080px) {
    #warning {
         width: 1280px;
    }
}
