/*
    reset.css
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: outside none none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}


/*
    style.css
*/


html {
}

body {
    overflow-x: auto;
    background-color: white;
    min-width: 980px;
}

.bl {
    font-weight: bold;
}

.tc {
    text-align: center;
}

.f11 {
    font-size: 11px;
}

.f14 {
    font-size: 14px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f21 {
    font-size: 21px;
}

.f22 {
    font-size: 22px;
}

.pt10 {
    padding-top: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

form {
    text-align: right;
}

input {
}

footer ul {
}

footer ul li {
}

footer p {
    display: none;
}

textarea, input {
    outline: medium none;
}

#banner {
    position: relative;
}

.prod, .logo, .demographic, .lp-demographic {
    position: absolute;
}

#banner .logo {
    top: 5px;
    left: 20px;
    height: 100px;
    width: auto;
}

/*
    up-custom.css
*/
/* Effective stylesheet produced by snapshot save */
/*#outer-wrapper { background: transparent url("https://images.templatemgr.com/templates/v23/img/offer2/cp-bg.jpg") no-repeat scroll center top; margin: 0px auto; height: 1140px; width: 100%; }*/
#outer-wrapper {
    margin: 0px auto;
    height: 1140px;
    width: 100%;
}

.after::after {
    content: "";
    display: block;
    clear: both;
}

.red {
    color: red;
}

.bl {
    font-weight: bold;
}

.tc {
    text-align: center;
}

#wrapper {
    width: 698px;
    margin: 0px auto;
    position: relative;
    background: white none repeat scroll 0% 0%;
    font-family: "Open Sans",sans-serif;
    box-shadow: 0px -62px 41px -8px rgb(0, 0, 0);
}

#wrapper #banner {
    border-bottom: 1px solid rgb(178, 178, 178);
    height: 110px;
}

#wrapper #banner #steps {
    width: 295px;
    height: 5px;
    top: 40px;
    left: 315px;
    background: rgb(186, 182, 177) none repeat scroll 0% 0%;
    position: absolute;
    text-align: center;
}

#wrapper #banner #steps #ty-slider {
    height: 3px;
    width: 143px;
    background: #01aac9 none repeat scroll 0% 0%;
    position: relative;
    top: 1px;
}

#wrapper #banner #steps ul {
    position: relative;
}

#wrapper #banner #steps .step {
    width: 20px;
    height: 20px;
    background: rgb(186, 182, 177) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 0px 3px rgb(178, 178, 178);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
}

#wrapper #banner #steps ul li .step-name {
    position: relative;
    left: -25px;
    padding-top: 8px;
    font-weight: 600;
}

#wrapper #banner #steps .step-1 .step-name, #wrapper #banner #steps .step-2 .step-name {
    color: rgb(90, 90, 90);
    left: -43px;
}

#wrapper #banner #steps .step-3 .step-name {
    color: rgb(90, 90, 90);
}

#wrapper #banner #steps .step-1, #wrapper #banner #steps .step-2, #wrapper #banner #steps .step-3 {
    top: -8px;
    position: absolute;
}

#wrapper #banner #steps .step-1 {
    left: -20px;
}

#wrapper #banner #steps .step-2 {
    left: 142px;
}

#wrapper #banner #steps .step-3 {
    right: -82px;
}

#wrapper #banner #steps .step-1 div, #wrapper #banner #steps .step-2 div {
    background: rgb(31, 64, 178) none repeat scroll 0% 0%;
    transition: background 3s ease 0s;
}

#wrapper #banner #steps .thank-you div {
    transition: background 2s ease 0s;
}

#wrapper #banner #steps .step p {
    position: relative;
    z-index: 10;
    top: 3px;
}

.f20 {
    font-size: 20px;
}

.f18 {
    font-size: 18px;
}

.f14 {
    font-size: 14px;
    line-height: 18px;
}

.grey-2 {
    color: rgb(90, 90, 90);
}

.turquoise {
    color: rgb(1, 187, 163);
}

#steps {
    margin-bottom: 20px;
}

#thank-you {
    width: 100%;
    float: right;
}

#ty-msg {
    padding: 40px 0px 25px;
    border-bottom: 1px solid rgb(178, 178, 178);
}

#ty-msg p {
    margin-bottom: 5px;
}

#upsell a {
    text-decoration: none;
}

#upsell-btn {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/offer2/upsell.jpg") no-repeat scroll 0px 0px;
    width: 476px;
    height: 242px;
    margin: 0px auto;
    display: block;
    color: rgb(4, 60, 143);
    position: relative;
}

#upsell-btn .prod {
    position: absolute;
    left: 14px;
    top: 54px;
    width: 35%;
}

#upsell-btn p {
    margin-bottom: 23px;
}

#upsell-btn-content {
    position: absolute;
    right: 30px;
    top: 67px;
}

#upsell-btn-content span.f22 {
    line-height: 28px;
}

#upsell-btn-content span.f20 {
    line-height: 25px;
}

#wait {
    margin: 30px 0px 25px;
    text-decoration: none;
}

#wait p {
    margin-bottom: 7px;
}

#up-btn {
    width: 271px;
    margin: 0px auto;
    position: relative;
    background: #4cd600 none repeat scroll 0% 0%;
    text-align: right;
    font-family: "Montserrat";
    font-size: 22px;
    color: rgb(0, 0, 0);
    border: medium none;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 25px 20px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px rgb(123, 123, 123);
    display: block;
    text-decoration: none;
}

#up-btn #lock {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/rush-arrow.png") no-repeat scroll 0% 0%;
    width: 18px;
    height: 23px;
    position: absolute;
    top: 14px;
    left: 18px;
}

#up-btn p {
    color: white;
}

#upsell:active #up-btn {
    top: 4px;
    box-shadow: 0px 0px 0px 0px rgb(255, 132, 0);
}

#lock, #cards {
    margin: 10px auto;
    display: block;
}

#decline {
    font-size: 12px;
    margin: 35px auto;
    width: 200px;
    text-decoration: underline;
}

#decline img {
    vertical-align: -14%;
}

#terms {
    font-size: 10.5px;
    line-height: 16px;
    color: rgb(170, 170, 170);
    width: 658px;
    margin: 0px auto;
    text-align: justify;
    font-family: "Open Sans",sans-serif;
    padding-top: 20px;
}

footer {
    font-family: "Open Sans",sans-serif;
    margin: 0px auto;
    position: relative;
    color: rgb(138, 138, 138);
    padding-top: 60px;
    text-transform: uppercase;
}

footer p {
    text-align: center;
    clear: both;
}

.f11 {
    font-size: 11px;
}

.tc {
    text-align: center;
}

.pt10 {
    padding-top: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

#preloader .overlay {
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#spinner-content {
    width: 200px;
    margin: 20% auto;
    position: relative;
    z-index: 3;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    text-align: center;
    background: white none repeat scroll 0% 0%;
    padding: 15px 25px 35px;
    border: 1px solid rgb(204, 204, 204);
    line-height: 19px;
}

#spinner {
    height: 50px;
    width: 50px;
    border-width: 5px;
    background: transparent url("urn:not-loaded:https://try.novusv.com/c20/serum/assets/img/pre-spinner.png") repeat scroll 0% 0%;
    margin: 55px auto;
    animation: 0.75s linear 0s normal none infinite running clockwise;
}

@keyframes clockwise {
    100% {
        transform: rotate(360deg) translateZ(0px);
    }
}

@keyframes clockwise {
    100% {
        transform: rotate(360deg) translateZ(0px);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #outer-wrapper {
        background-size: 135% auto;
        margin: 0px auto;
        width: 100%;
        min-width: 1300px;
        overflow: hidden;
    }
}
/*
    Inline
*/

#productImg {
    width: 33%;
    margin-top: 2%;
    margin-left: -2%;
}

.step {
    background-color: #01aac9 !important;
}
