html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: auto !important;
    min-width: 1080px;
}

ol, ul {
    list-style: outside none none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}

/*
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"),url("zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8_woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat-Bold"),url("IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y_woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local("OpenSans"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local("OpenSans"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local("OpenSans"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local("OpenSans"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local("OpenSans"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local("OpenSans"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local("OpenSans"),url("cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw_woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg_woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local("OpenSans-Bold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local("OpenSans-Bold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local("OpenSans-Bold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local("OpenSans-Bold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local("OpenSans-Bold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local("OpenSans-Bold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local("OpenSans-Bold"),url("k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg_woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg_woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxhgVThLs8Y7ETJzDCYFCSLE.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxpiMaisvaUVUsYyVzOmndek.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrBAWGjcah5Ky0jbCgIwDB8.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxv14vlcfyPYlAcQy2UfDRm4.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxqfJul7RR1X4poJgi27uS4w.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxqvyPXdneeGd26m9EmFSSWg.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local("OpenSans-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjTOQ_MqJVwkKsUn0wKzc2I.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local("OpenSans-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjUj_cnvWIuuBMVgbX098Mw.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local("OpenSans-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBkbcKLIaa1LC45dFaAfauRA.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local("OpenSans-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmo_sUJ8uO4YLWRInS22T3Y.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local("OpenSans-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBr6up8jxqWt8HVA3mDhkV_0.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local("OpenSans-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBiYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local("OpenSans-Italic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmgpAmOCqD37_tyH_8Ri5MM.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxsPNMTLbnS9uQzHQlYieHUU.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgyhumQnPMBCoGYhRaNxyyY.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxhUVAXEdVvYDDqrz3aeR0Yc.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxlf4y_3s5bcYyyLIFUSWYUU.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnywqdtBbUHn3VPgzuFrCy8.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp6iIh_FvlUHQwED9Yt5Kbw.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi_vZmeiCMnoWNN9rHBYaTc.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxiFaMxiho_5XQnyRZzQsrZs.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgalQocB-__pDVGhF3uS2Ks.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmhQUTDJGru-0vvUpABgH8I.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxujkDdvhIIFj_YMdgqpnSB0.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local("OpenSans-ExtraboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxiU8QAtQT9M0M1_mbVWrUPc.woff2") format("woff2");
    unicode-range: U+460-52F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local("OpenSans-ExtraboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkNaUOL0oYRolx8sebiIY9k.woff2") format("woff2");
    unicode-range: U+400-45F,U+490-491,U+4B0-4B1,U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local("OpenSans-ExtraboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxooGEx1DzoxsbCRd2IM2afI.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local("OpenSans-ExtraboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnPzCMEhbIaaYiFY6KPniws.woff2") format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local("OpenSans-ExtraboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmqi69zMYkLa7XwlUIemKB4.woff2") format("woff2");
    unicode-range: U+102-103,U+1EA0-1EF1,U+20AB;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local("OpenSans-ExtraboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxowYyzpnB4tyYboSwKGmD2g.woff2") format("woff2");
    unicode-range: U+100-24F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local("OpenSans-ExtraboldItalic"),url("urn:not-loaded:https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2") format("woff2");
    unicode-range: U+0-FF,U+131,U+152-153,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}
*/

body {
    overflow-x: hidden;
}

.red {
    color: #ed145b;
}

.green {
    color: #6c3;
}

.grey-2 {
    color: #5a5a5a;
}

.turquoise {
    color: #01aac9;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bl {
    font-weight: bold;
}

.tc {
    text-align: center;
}

.f11 {
    font-size: 11px;
}

.f14 {
    font-size: 14px;
}

.f34 {
    font-size: 34px;
}

.pt10 {
    padding-top: 10px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

#form {
    position: relative;
    top: 25px;
    float: right;
    width: 319px;
    font-family: "Open Sans",sans-serif;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

#form a {
    color: #6c3;
    font-size: 10px;
    width: 85px;
    display: inline-block;
    text-align: left;
}

#form-top {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/order/cp-form-top.jpg") no-repeat scroll 0 0;
    width: auto;
    height: 97px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

#form-inner {
    width: auto;
    background: #fff none repeat scroll 0 0;
    padding-bottom: 20px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

#form-bottom {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/order/cp-form-btm.jpg") no-repeat scroll center top;
    width: auto;
    height: 219px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}

#form form .input-sec {
    overflow: hidden;
    position: relative;
    height: 30px;
    padding-bottom: 16px;
    display: block;
}

form {
    text-align: right;
    font-size: 12px;
    padding: 20px 22px 0px;
}

input[type="text"] {
    height: 30px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form select {
    -webkit-appearance: none;
    text-indent: 8px;
    width: 186px;
    height: 23px;
    border-radius: 5px;
}

.form-button {
    position: relative;
    top: 37px;
    left: 14px;
    width: 278px;
}

.form-button #lock {
    background: transparent url("https://images.templatemgr.com/templates/v23/img/order/rush-arrow.png") no-repeat scroll 0 0;
    width: 18px;
    height: 23px;
    position: absolute;
    top: 26px;
    left: 13px;
    z-index: 10;
}

input[type="submit"] {
    background: #4cd600 none repeat scroll 0 0;
    font-family: "Montserrat";
    font-size: 20px;
    color: #fff;
    border: medium none;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 15px 20px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 0 0 #7b7b7b;
    position: relative;
}

.form-button:active input[type="submit"] {
    background-color: #a6d600;
    top: 4px;
    box-shadow: 0 0 0 0 #7b7b7b;
}

.form-button:active #lock {
    top: 30px;
}

.form-button:hover::before {
    background: #02cfab none repeat scroll 0 0;
}

:-moz-placeholder {
    font-style: italic;
    font-size: 11px;
    font-family: helvetica;
}

#billing-info {
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    font-size: 12px;
    /*line-height: 18px;
    padding-top: 20px;*/
}

#billing-btn {
    padding: 10px 0 20px;
    display: inline-block;
    width: 260px;
}

.n-input {
    width: 175px;
}

.s-input {
    width: 84.5px;
}

form {
    text-align: right;
}

footer p a {
    text-decoration: none;
}

textarea, input {
    outline: medium none;
}

#banner {
    position: relative;
}

.prod, .logo, .demographic, .lp-demographic {
    position: absolute;
}

.demographic .flag {
    position: relative;
    right: 10px;
    vertical-align: top;
}

.demographic {
    top: 40px;
    right: 30px;
}

.demographic p, .lp-demographic p {
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    position: relative;
    left: -5px;
    bottom: 5px;
}

.demographic img {
    display: inline-block;
}

#banner .logo {
    top: 5px;
    left: 20px;
}

#viewing {
    width: 610px;
    text-align: center;
    font-size: 18px;
    background: #eee none repeat scroll 0 0;
    border: 1px solid #333;
    margin-bottom: 25px;
    padding: 15px 0;
    color: #333;
    opacity: 0;
}

.after::after {
    content: "";
    display: block;
    clear: both;
}

.bb {
    border-bottom: 1px solid #dedede;
}

.quote {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    text-align: left;
}

.quote-cp {
    width: 418px;
    position: relative;
    left: 79px;
    padding: 30px 0;
}

#outer-wrapper {
    background: transparent linear-gradient(to bottom,#f2f2f2 0,#fff 100%) repeat scroll 0 0;
}

#wrapper {
    width: 1025px;
    margin: 0 auto;
    font-family: "Open Sans",sans-serif;
    position: relative;
    background: white none repeat scroll 0 0;
    border: 1px solid #dadada;
    padding-bottom: 45px;
}

#wrapper #banner {
    border-bottom: 1px solid #b2b2b2;
    height: 108px;
}

#wrapper #banner #steps {
    width: 295px;
    height: 5px;
    top: 40px;
    left: 315px;
    background: #bab6b1 none repeat scroll 0 0;
    position: absolute;
    text-align: center;
}

#wrapper #banner #steps #slider {
    height: 3px;
    width: 0;
    background: #01aac9 none repeat scroll 0 0;
    position: relative;
    top: 1px;
}

#wrapper #banner #steps ul {
    position: relative;
}

#wrapper #banner #steps .step {
    width: 20px;
    height: 20px;
    background: #bab6b1 none repeat scroll 0 0;
    box-shadow: 0 0 0 3px #b2b2b2;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
}

#wrapper #banner #steps ul li .step-name {
    position: relative;
    left: -25px;
    padding-top: 8px;
    font-weight: 600;
}

#wrapper #banner #steps .step-1 .step-name, #wrapper #banner #steps .step-2 .step-name {
    color: #5a5a5a;
    left: -43px;
}

#wrapper #banner #steps .step-3 .step-name {
    color: #ccc;
}

#wrapper #banner #steps .step-1, #wrapper #banner #steps .step-2, #wrapper #banner #steps .step-3 {
    top: -8px;
    position: absolute;
}

#wrapper #banner #steps .step-1 {
    left: -20px;
}

#wrapper #banner #steps .step-2 {
    left: 142px;
}

#wrapper #banner #steps .step-3 {
    right: -82px;
}

#wrapper #banner #steps .step-1 div {
    background: #01aac9 none repeat scroll 0 0;
    transition: background 3s ease 0s;
}

#wrapper #banner #steps .step-2 div {
    transition: background 1s ease 0s;
}

#wrapper #banner #steps .step p {
    position: relative;
    z-index: 10;
    top: 3px;
}

#info {
    width: 643px;
    float: left;
    margin: 20px 0 0 20px;
    position: relative;
}

#info-inner {
    padding: 0 25px;
}

#product {
    position: relative;
    top: 8px;
    width: 199px;
    margin-left: 22px;
}

#arrow {
    margin-left: -45px;
    margin-top: 15px;
}

#steps {
    margin-bottom: 20px;
}

#terms, #terms2 {
    font-size: 10.5px;
    line-height: 16px;
    color: #aaa;
    width: 1025px;
    margin: 20px auto;
    left: 0;
    text-align: justify;
    font-family: "Open Sans",sans-serif;
}

#approve-container {
    margin-bottom: 5px;
    border-bottom: 1px solid #b2b2b2;
    padding: 25px 0 25px 35px;
    width: 60%;
    display: inline-block;
}

#approve-container p.f17 {
    line-height: 22px;
}

#approve-container .availability {
    padding: 2px 2px 2px 1px;
    border: 1px solid #bebebe;
    display: inline-block;
    position: relative;
    top: 3px;
    background: white none repeat scroll 0 0;
    margin-right: 4px;
}

#approve-container .availability .red {
    background: #e4332f none repeat scroll 0 0;
}

#approve-container .availability span {
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 1px;
    background: white none repeat scroll 0 0;
}

#viewing {
    display: inline-block;
}

#approve-container #viewing .eye {
    display: inline-block;
    vertical-align: -25%;
    margin-right: 10px;
}

#approve-container #viewing p {
    display: inline-block;
}

#prod-info {
    line-height: normal;
    font-size: 14px;
}

#prod-info p {
    margin-bottom: 3px;
}

#price-info {
    width: 290px;
    margin-top: 5px;
}

#prices {
    margin-top: 5px;
    font-size: 14px;
}

#prices div {
    padding: 10px 0;
}

#delivery {
    margin-top: 12px;
    position: relative;
    top: 8px;
}

footer {
    font-family: "Open Sans",sans-serif;
    width: 315px;
    margin: 50px auto;
    color: #8a8a8a;
    position: relative;
    padding-top: 30px;
    clear: both;
    top: 0;
}

footer p a {
    color: #8a8a8a;
}

footer p {
    text-align: center;
    clear: both;
}
/* popup stuff */
#popover {
    background: #fff url("https://images.templatemgr.com/templates/v23/img/order/down-bg.jpg") no-repeat scroll center top / cover;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#popover img {
    display: block;
    margin: 25px auto 0;
    position: relative;
}

#overlay {
    position: fixed;
    background: #fff none repeat scroll 0 0;
    opacity: .65;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pop-box div > h2 {
    text-indent: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 80px;
    font-weight: 700;
    background: transparent none repeat scroll 0 0;
    color: #01aac9;
}

#pop-box div > h3 {
    font-family: "Montserrat",sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #01aac9;
    padding: 10px 0;
}

#pop-box {
    width: 765px;
    margin: 60px auto;
    font-size: 24px;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 100px;
    opacity: 0;
    transition-property: opacity,top;
    transition-duration: 1s,1s;
    transition-timing-function: ease,ease;
    transition-delay: .75s;
}

#pop-box .para {
    margin: 0;
}

#pop-box p {
    text-align: center;
    font-family: "Open Sans",sans-serif;
    line-height: normal;
    font-size: 19px;
    color: #333;
}

#pop-box p span {
    font-weight: 800;
}

#down-btn {
    background: #4cd600 none repeat scroll 0 0;
    box-shadow: 4px 4px 0 0 #5a5a5a;
    border-radius: 5px;
    font-family: "Montserrat",sans-serif;
    width: 390px;
    color: #fff;
    font-size: 22px;
    position: relative;
    font-weight: bold;
    display: inline-block;
    padding: 25px 45px 25px 55px;
    text-decoration: none;
    margin: 35px 0;
    top: -600px;
}

#down-btn:active {
    box-shadow: 0;
    top: 4px;
    background: #02cfab none repeat scroll 0 0;
}

#down-btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 30px;
    top: 30px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #fff;
}

#pop-terms {
    bottom: 600px;
    position: relative;
    width: 100%;
    text-align: center;
}

#pop-terms p {
    font-size: x-small !important;
    padding: 0 45px;
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    #outer-wrapper {
        background-size: 155% auto;
        margin: 0 auto;
        width: 100%;
        min-width: 1300px;
        overflow: hidden;
    }
}

#toast-container > :hover {
    box-shadow: 0 0 12px #000;
    opacity: 1;
    cursor: pointer;
}

footer a {
    color: #555;
}

#billing-title, #shipping-title, #credit-title {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

.n-select {
    height: 30px;
    width: 176px;
    margin-bottom: 12px;
    margin-right: 0;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.s-select {
    height: 30px;
    width: 84px;
    margin-bottom: 12px;
    margin-right: -3px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@keyframes clockwise {
    100% {
        transform: rotate(360deg) translateZ(0px);
    }
}

@keyframes clockwise {
    100% {
        transform: rotate(360deg) translateZ(0px);
    }
}

#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
}

#cboxOverlay {
    background: #000 none repeat scroll 0 0;
    opacity: .9;
}

#colorbox {
    outline: 0 none;
}

#cboxContent {
    margin-top: 20px;
    background: #000 none repeat scroll 0 0;
}

#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc;
}

#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0;
    color: #ccc;
}

#cboxLoadingGraphic {
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/jblib/images/loading.gif") no-repeat scroll center center;
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0 none;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: transparent none repeat scroll 0 0;
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0 none;
}

#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff;
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/jblib/img/controls.png") no-repeat scroll left top;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxPrevious:hover {
    background-position: left bottom;
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: transparent url("urn:not-loaded:https://secure.orderflawlessyouth.com/V5/assets/jblib/img/controls.png") no-repeat scroll right top;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxNext:hover {
    background-position: right bottom;
}

#toast-container > :hover {
    box-shadow: 0 0 12px #000;
    opacity: 1;
    cursor: pointer;
}

#brandImg {
    height: 100px;
}

#product1a {
    top: -335px;
    right: 253px;
    width: 300px;
}

#product1b {
    top: -639px;
    right: 326px;
    width: 272px;
}

input[type="text"], input[type="tel"] {
    border: 1px solid #ccc;
    border-radius: 0;
    width: 165px;
}

/*#fields_state {
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 165px;
}*/

form select {
    border: 1px solid #ccc;
    border-radius: 0;
    width: 30%;
}

footer {
    width: 100%;
    background-color: transparent;
}

#form-inner {
    border-left: 0;
    border-right: 0;
}

#form-bottom {
    border-left: 0;
    border-right: 0;
}

/*#billingDiv {
    margin-left: -6px!important;
    width: 274px!important;
    margin-bottom: 20px!important;
}

#billingDiv input {
    width: 165px;
    height: 23px;
}

#billing_state {
    width: 169px!important;
    height: 23px!important;
}*/

.form-div {
    margin-bottom: 2px;
}

#cvv_link {
    left: 197px;
}

#cvv label {
    margin-top: 0;
}

#shippingInfo p:nth-child(1) {
    text-align: left;
    font-weight: bold;
    font-size: medium;
}

.shippingrow {
    display: block;
    margin: 0px;
    width: 100%;
}

.shippingrow label {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: small;
    width: 28%;
    margin-right: 2%;
    position: relative;
    top: 10px;
}

.shippingrow input {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    float: none;
    border-radius: 5px;
    width: 185px;
    margin-bottom: -5%;
    height: 30px;
    text-indent: 8px;
}

.shippingrow select {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    float: none;
    border-radius: 5px;
    width: 187px;
    margin-bottom: -5%;
    height: 30px;
}

.shippingrow span {
    position: relative;
    top: 20px;
    left: 20px;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 100;
}

::-moz-placeholder {
    font-style: italic;
    font-weight: 100;
    text-indent: 15%;
}
/* firefox 19+ */
:-ms-input-placeholder {
    font-style: italic;
    font-weight: 100;
    text-indent: 15%;
}
/* ie */
input:-moz-placeholder {
    font-style: italic;
    font-weight: 100;
    text-indent: 15%;
}

#billing-btn {
    text-align: center;
    margin-top: 2%;
}

#billing-info {
    margin: 0px;
}

#billing-info p:nth-child(1) {
    text-align: center;
    font-weight: normal;
    font-size: small;
}

#billingDiv {
    width: 100%;
    margin-left: 0;
    display: none;
}

.billingrow {
    display: block;
    margin: 0px;
    width: 102%;
    margin-left: -1%;
    text-align: right;
}

.billingrow label {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: small;
    width: 27%;
    margin-right: 2%;
    position: relative;
    top: 10px;
}

.billingrow input {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    float: none;
    border-radius: 5px;
    width: 185px;
    text-indent: 8px;
    margin-bottom: -5%;
    height: 30px;
}

.billingrow select {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    float: none;
    border-radius: 5px;
    width: 187px;
    text-indent: 5%;
    margin-bottom: -5%;
    height: 30px;
}

.billingrow span {
    position: relative;
    top: 22px;
    left: -5px;
}

.exitbillingTitle {
    text-align: left !important;
    font-weight: bold;
    font-size: medium;
}

#billingDiv input {
    width: 185px !important;
}

.billingTitle {
    text-align: left !important;
    font-weight: bold;
    font-size: medium;
}

.form-div {
    display: block;
    margin: 0px;
    width: 100%;
    text-align: right;
}

.form-div label {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: small;
    width: 28%;
    margin-right: 2%;
    position: relative;
    top: 10px;
}

.form-div input {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    float: none;
    border-radius: 5px;
    width: 185px !important;
    text-indent: 8px;
    margin-bottom: -5%;
    height: 30px;
}

.form-div select {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    float: none;
    border-radius: 5px;
    width: 187px;
    margin-bottom: -5%;
    height: 30px;
}

.form-div span {
    position: relative;
    top: 15px;
    left: -10px;
}

#form_start {
    width: 100%;
}

.form_row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.form_row label {
    display: inline;
    width: 28%;
    float: left;
    margin-top: 7px;
    margin-right: 2px;
}

.form_row input {
    display: inline;
    width: 185px;
    padding: 0;
    float: none;
    height: 30px;
    border-radius: 5px;
}

.form_row select {
    display: inline;
    padding: 0;
    width: 185px;
    float: none;
    height: 30px;
    border-radius: 5px;
}



#cc_number {
    margin-right: 5px;
    text-indent: 8px;
}

#fields_expmonth {
    float: none;
    width: 92px;
}

#fields_expyear {
    float: none;
    width: 91px;
    margin-right: 5px;
}

#cc_cvv {
    margin-right: 5px;
    width: 35%;
    text-indent: 8px;
}

#cvv, #ecvv {
    display: block;
    float: left;
    text-align: left;
    margin-left: 44px;
}

#cvv_link {
    display: block;
    left: 0;
    margin-left: 75%;
    position: relative;
    top: -32px;
}

#form-bottom {
}

.cardrow {
    margin-bottom: -10%;
}

.exprow {
    margin-bottom: -10%;
}

.cvvrow {
    margin-top: 8%;
}

#ecvv {
    margin-left: 44px;
}

#ecvv a {
    top: -32px;
}


#cvv span {
    position: relative;
    top: -8px;
    right: 142px;
}

#cards {
    position: relative;
    right: 30.3%;
    margin-bottom: 2%;
    width: 114px;
    height: 33px;
}

.eye {
    width: 33px;
    height: 20px;
}

/* Popup stuff */
/*#popover {
    background: rgb(255, 255, 255) url("https://images.templatemgr.com/templates/v23/img/down-bg.jpg") no-repeat scroll center top / cover;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#popover img {
    display: block;
    margin: 25px auto 0px;
}

#overlay {
    position: fixed;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#pop-box div > h2 {
    text-indent: 0px;
    font-family: "Montserrat",sans-serif;
    font-size: 80px;
    font-weight: 700;
    background: transparent none repeat scroll 0% 0%;
    color: rgb(1, 170, 201);
}

#pop-box div > h3 {
    font-family: "Montserrat",sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: rgb(1, 170, 201);
    padding: 10px 0px;
}

#pop-box {
    width: 765px;
    margin: 60px auto;
    font-size: 24px;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 100px;
    opacity: 0;
    transition-property: opacity, top;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
    transition-delay: 0.75s;
}

#pop-box .para {
    margin: 0px;
}

#pop-box p {
    text-align: center;
    font-family: "Open Sans",sans-serif;
    line-height: normal;
    font-size: 19px;
    color: rgb(51, 51, 51);
}

#pop-box p span {
    font-weight: 800;
}

#popupImg1{
    bottom: 292px;
    right: 236px;
    width: 40%;
}

#popupImg2{
    bottom: 594px;
    right: 310px;
    width: 35%;
}*/
#insuredShipping {
    margin-left: -34px;
    position: absolute;
    top: 220px;
    width: 400px;
    font-size: 13px;
    color: #666;
}

#insuredShipping a {
    font-size: 13px;
    color: #666;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #FFF;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#FFF));
    background: -webkit-linear-gradient(top, #FFF, #F2F2F2);
    background: -moz-linear-gradient(top, #FFF, #F2F2F2);
    background: -ms-linear-gradient(top, #FFF, #F2F2F2);
    background: -o-linear-gradient(top, #FFF, #F2F2F2);
    border: 1px solid #DDD;
    color: #666;
    text-align: left;
    padding: 15px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left: -160px;
    margin-top: -140px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.step-check {
    width: 16px;
    height: 13px;
}

.usa-flag {
    width: 41px;
    height: 27px;
}

#arrow {
    width: 690px;
    height: 96px;
}

.input-validation {
    margin-top: -26px;
}

.form_row .input-validation {
    margin-top: -34px;
    padding-right: 18px;
}

.expmonth_row .input-validation {
    padding-right: 0px !important;
}

.expyear_row .input-validation {
    padding-right: 0px !important;
}

#cvv .input-validation {
    right: 98px;
    position: relative;
    top: 0px;
}

#ecvv .input-validation {
    right: 98px;
    position: relative;
    top: 0px;
}

.form_row label {
    display: inline;
    width: 80px;
    float: left;
    margin-top: 9px !important;
}

.expmonth_row {
    float: left;
    margin-left: 1px;
}

.expyear_row {
    float: right;
    margin-right: 19px;
}

#cvv, #ecvv {
    margin-left: 0px !important;
}

#cvv label {
    text-align: right;
}

#ecvv label {
    text-align: right;
}

#cc_cvv {
    width: 92px !important;
}

select {
    -webkit-appearance: none;
    background: white;
}

#cvv_link {
    display: inline-block;
    left: 0;
    margin-left: 10px;
    position: inherit;
    top: 0px;
}

#form-bottom {
    margin-top: 50px;
}

.by-submitting {
    margin-top: 100px !important;
}

.medium {
    font-size: medium;
}

p.quote, div.short-term {
    color: black;
    font-size: 12pt;
}

p.quote.small {
    font-size: 8pt;
    color: #7b7b7b;
}

#info-inner > div.content.white-popup.short-term {
    margin: 0;
}
