/* Effective stylesheet produced by snapshot save */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: outside none none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}


/* Effective stylesheet produced by snapshot save */

html {
}

body {
    overflow-x: auto !important;
    min-width: 720px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bl {
    font-weight: bold;
}

.tc {
    text-align: center;
}

.f11 {
    font-size: 11px;
}

.f14 {
    font-size: 14px;
}

.f18 {
    font-size: 18px;
}

.pt10 {
    padding-top: 10px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

footer ul {
}

footer ul li {
}

footer p {
    display: none;
}

#banner {
    position: relative;
}

.prod, .logo, .demographic, .lp-demographic {
    position: absolute;
}

#banner .logo {
    top: 5px;
    left: 20px;
    height: 100px;
    width: auto;
}


/* Effective stylesheet produced by snapshot save */
#outer-wrapper {
    margin: 0px auto;
    height: 1140px;
    width: 100%;
}

.after::after {
    content: "";
    display: block;
    clear: both;
}

.red {
    color: red;
}

#wrapper {
    width: 698px;
    margin: 0px auto;
    position: relative;
    background: white none repeat scroll 0% 0%;
    font-family: "Open Sans",sans-serif;
    box-shadow: 0px -62px 41px -8px rgb(0, 0, 0);
}

.f18 {
    font-size: 18px;
}

.f14 {
    font-size: 14px;
    line-height: 18px;
}

.green {
    color: rgb(102, 204, 51);
}

.grey-2 {
    color: rgb(90, 90, 90);
}

.red {
    color: rgb(237, 20, 91);
}

#steps {
    margin-bottom: 20px;
}

#wrapper #banner {
    border-bottom: 1px solid rgb(178, 178, 178);
    height: 110px;
}

#wrapper #banner #steps {
    width: 295px;
    height: 5px;
    top: 40px;
    left: 315px;
    background: rgb(186, 182, 177) none repeat scroll 0% 0%;
    position: absolute;
    text-align: center;
}

#wrapper #banner #steps #ty-slider {
    height: 3px;
    width: 143px;
    background: #01aac9 none repeat scroll 0% 0%;
    position: relative;
    top: 1px;
}

#wrapper #banner #steps ul {
    position: relative;
}

#wrapper #banner #steps .step {
    width: 20px;
    height: 20px;
    background: rgb(186, 182, 177) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 0px 3px rgb(178, 178, 178);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
}

#wrapper #banner #steps ul li .step-name {
    position: relative;
    left: -25px;
    padding-top: 8px;
    font-weight: 600;
}

#wrapper #banner #steps .step-1 .step-name, #wrapper #banner #steps .step-2 .step-name {
    color: rgb(90, 90, 90);
    left: -43px;
}

#wrapper #banner #steps .step-3 .step-name {
    color: rgb(90, 90, 90);
}

#wrapper #banner #steps .step-1, #wrapper #banner #steps .step-2, #wrapper #banner #steps .step-3 {
    top: -8px;
    position: absolute;
}

#wrapper #banner #steps .step-1 {
    left: -20px;
}

#wrapper #banner #steps .step-2 {
    left: 142px;
}

#wrapper #banner #steps .step-3 {
    right: -82px;
}

#wrapper #banner #steps .step-1 div, #wrapper #banner #steps .step-2 div {
    background: #01aac9 none repeat scroll 0% 0%;
    transition: background 3s ease 0s;
}

#wrapper #banner #steps .thank-you div {
    transition: background 2s ease 0s;
}

#wrapper #banner #steps .step p {
    position: relative;
    z-index: 10;
    top: 3px;
}

#ty-msg {
    width: 100%;
    padding: 45px 0px;
    border-bottom: 1px solid rgb(178, 178, 178);
}

#ty-msg p {
    margin-bottom: 3px;
    padding-left: 40px;
}

#thank-you {
    width: 100%;
    float: right;
}

#line {
    background: rgb(178, 178, 178) none repeat scroll 0% 0%;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 627px;
    left: 0px;
}

#billing {
    background: white none repeat scroll 0% 0%;
    width: 300px;
    height: 355px;
    margin-right: 60px;
    float: right;
    padding-top: 37px;
}

#billing h1 {
    color: rgb(0, 17, 76);
    font-size: 18px;
}

#order-info {
    padding: 30px 0px;
}

#prod {
    width: 34%;
    position: absolute;
    top: 45%;
    left: 13%;
}

#billing-inner {
    font-size: 14px;
    line-height: 20px;
}

.bb {
    border-bottom: 1px solid rgb(219, 218, 218);
}

#totals {
    width: 100%;
    float: right;
}

footer {
    font-family: "Open Sans",sans-serif;
    width: 225px;
    margin: 0px auto;
    position: relative;
    color: rgb(138, 138, 138);
    padding-top: 60px;
    font-size: 12px;
    text-transform: uppercase;
}

footer p {
    text-align: center;
    clear: both;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #outer-wrapper {
        background-size: 135% auto;
        margin: 0px auto;
        width: 100%;
        min-width: 1300px;
        overflow: hidden;
    }
}


/**/

#productImg {
    width: 48%;
}

footer {
    width: 100%;
}

.step {
    background-color: #01aac9;
}
