@charset "utf-8";
/* CSS Document */
body {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	text-align:center;
	background:url(https://images.templatemgr.com/templates/v3/img/top-bg.jpg) repeat-x #ededed;
}
@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('myriadpro-boldcond.eot');
    src: url('myriadpro-boldcond.eot') format('embedded-opentype'),

}
@font-face {
    font-family: 'oswaldbold';
    src: url('oswald-bold-webfont.eot');
    src: url('oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-bold-webfont.woff') format('woff'),
         url('oswald-bold-webfont.ttf') format('truetype'),
         url('oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
START UTILITY
*/
div, ul, h1, h2, h3, h4, h5,li, p, img, form, input, textarea {
	margin:0;
	padding:0;
}

a {
    outline: none;
	color:#f00;
	text-decoration:underline;
}

a:hover {
    outline: none;
	color:#000;
	text-decoration:none;
}

img {
	border:none;
}

li {
	list-style:none;
}


.clearall {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
}

/*
END UTILITY
*/
#container {
	padding:0px;
	margin:0px auto;
	}
.innercontainer {
	width:1004px;
	margin:0px auto;
	position:relative;

	}
#section1 {

	height:705px;
	z-index:100;
	}
#part1 {
	background:url(https://images.templatemgr.com/templates/v3/img/part1.jpg) no-repeat;
	height:705px;
	width:1045px;
	margin-left:-9px;
	}

#form {

	top:25px;
	margin-left:-9px;
	}
#part2 {
	background:url(https://images.templatemgr.com/templates/v3/img/part2.jpg) no-repeat;
	height:509px;
	margin-top:10px;
	}

#part3 {
	background:url(https://images.templatemgr.com/templates/v3/img/part3.jpg) no-repeat;
	height:809px;
	width:1005px;
	margin-top:10px;
	}
#part4 {
	background:url(https://images.templatemgr.com/templates/v3/img/part4.jpg) no-repeat;
	height:450px;
	width:1016px;
	padding-top:140px;
	}
#part5 {
	background:url(https://images.templatemgr.com/templates/v3/img/part5.jpg) no-repeat;
	height:649px;
	width:1006px;
	margin-top:30px;
	}
#part6 {
	background:url(https://images.templatemgr.com/templates/v3/img/part6.jpg) no-repeat;
	height:680px;
	width:1015px;
	}
#part7 {
	background:url(https://images.templatemgr.com/templates/v3/img/part7.jpg) no-repeat;
	height:969px;
	width:1012px;
	margin-top:20px;
	}
#part8 {
	background:url(https://images.templatemgr.com/templates/v3/img/part8.jpg) no-repeat;
	height:509px;
	width:1116px;
	margin-left:-60px;
	margin-top:30px;
	}

#section6 {
	margin-top:30px;
	}
#section7 {
	margin-top:50px;
	}
#section8 {
	margin-top:30px;
	}
/*---form------*/
#frm {
	width: 290px;
	height: 478px;
	top: 237px;
	left: 670px;
	font-weight: bold;
	position: absolute;
	}
.frmfields {
	height:26px;
/*	border:1px solid #fff;
*/	margin:0px 0 6px 5px;
	}
.frmfields label {
	width:83px;
	float:left;
	margin-top:10px;
	left:15px;
	font-family:arial;
	font-size:13px;
	color:#fff;
	text-align:right;
	position:absolute;
	}
.frmfields input {
	width:150px;
	height:22px;
	float:right;
	outline:none;
	margin-right:10px;
	margin-top:3px;
	border:1px solid #969696;
	}
.frmfields select {
	width:152px;
	height:25px;
	float:right;
	margin-right:10px;
	margin-top:3px;
	font-family:arial;
	font-size:14px;
	border:1px solid #969696;
	}
#submit-btn {
	margin-top:1px;
	}
.checkbox{
	margin:20px 0 0px 25px;
	height:auto;
	width:255px;
	cursor:pointer;
	border:none;
	outline:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:12px;
	font-weight:none;
	line-height:14px;
	}
.submit {
	width:268px;
	height:70px;
	background:url(https://images.templatemgr.com/templates/v3/img/rush-my-trial.png) no-repeat;
	border:none;
	margin-left:20px;
	cursor:pointer;
	margin-top:35px;
	}
#points {
	width:340px;
	position:absolute;
	top:244px;
	left:400px;
	}
#points p {
    font-family: 'MyriadProBoldCondensed';
	font-size:24px;
	font-weight:bold;
	color:#fff;
	float:left;
	margin-left:40px;
	line-height:40px;
	}
.sec2-para {
	width:575px;
	text-align:left;
	left:30px;
	top:70px;
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	}
.sp1 {
	color:#fe3535;
	font-size:16px;
	font-weight:bold;

	}
.sec2-para	p#text {
	width:375px;
	height:110px;
	font-family:arial;
	font-size:16px;
	color:#282828;
	text-align:justify;
	margin-top:65px;
	line-height:23px;
	}
.sec2-para img {
	margin-top:195px;
	}
.points {
	width:335px;
	height:90px;
	color:#000;
	text-align:left;
	margin-left:655px;
	padding-top:130px;
	}
.points p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#6d0861;
	font-weight:bold;
	padding-top:20px;
	}
.points img {
	float:left;
	padding-right:15px;
	}
.points span.sp2 {
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:17px;
	font-weight:normal;
	}
#part3 p {
	width:640px;
	height:80px;
	font-family:arial;
	font-size:16px;
	color:#282828;
	text-align:justify;
	margin-top:65px;
	line-height:25px;
	padding-top:100px;
	padding-left:30px;
	}
#part4 {
	margin-top:20px;
	}
#part4 p.txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12.6px;
	color:#282828;
	width:240px;
	text-align:justify;
	margin-left:160px;
	margin-top:10px;
	}
#part4 div#ingredients1 {
	background:url(https://images.templatemgr.com/templates/v3/img/grp1.png) no-repeat;
	width:433px;
	height:170px;
	float:left;
	margin-left:15px;
	}
#ingredients1 p {
    font-family: 'MyriadProBoldCondensed';
	font-size:30px;
	color:#6d0861;
	margin-top:-30px;
	margin-left:115px;
	}
#part4 div#ingredients2 {
	background:url(https://images.templatemgr.com/templates/v3/img/grp2.png) no-repeat;
	width:434px;
	height:170px;
	float:right;
	margin-right:15px;
	}
#ingredients2 p {
    font-family: 'MyriadProBoldCondensed';
	font-size:30px;
	color:#6d0861;
	margin-top:-30px;
	margin-right:135px;
	}
#part4 div#ingredients3 {
	background:url(https://images.templatemgr.com/templates/v3/img/grp3.png) no-repeat;
	width:425px;
	height:222px;
	float:left;
	margin-left:15px;
	margin-top:-25px;
	}
#ingredients3 p {
    font-family: 'MyriadProBoldCondensed';
	font-size:30px;
	color:#6d0861;
	margin-top:70px;
	margin-left:35px;
	}
#part4 div#ingredients4 {
	background:url(https://images.templatemgr.com/templates/v3/img/grp4.png) no-repeat;
	width:426px;
	height:222px;
	float:right;
	margin-right:15px;
	margin-top:-25px;
	}
#ingredients4 p {
    font-family: 'MyriadProBoldCondensed';
	font-size:30px;
	color:#6d0861;
	margin-top:70px;
	margin-right:160px;
	}
#parts {
	width:260px;
	height:160px;
	float:left;
	}
#part5 p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:38px;
	color:#282828;
	text-align:center;
	width:260px;
	float:right;
	text-transform:uppercase;
	margin-top:70px;
	margin-right:10px;
	}
#part5 img {
	float:right;
	margin-top:230px;
	margin-right:-260px;
	}
#part6 p#txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#282828;
	width:605px;
	text-align:justify;
	margin-left:30px;
	margin-top:30px;
	padding-top:115px;
	line-height:25px;
	float:left;
	}
#part6 .list {
	width:170px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	text-align:left;
	margin-top:120px;
	margin-left:68px;
	}
.list span {
	color:#eb6201;
	font-size:30px;
    font-family: 'MyriadProBoldCondensed';
	}
#part6 img {
	float:left;
	margin-top:-130px;
	margin-left:30px;
	}
#part6 a img {
	margin-top:90px;
	margin-left:90px;
	}
#parts span.sp3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fed506;
	padding-right:140px;
	font-weight:bold;
	}
#part7 p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#423e41;
	width:455px;
	padding-top:810px;
	margin-left:20px;
	line-height:22px;
	}
#part7 span {
	color:#e74e01;
	font-size:24px;
	font-weight:bold;
	}
#part7 span#sp1 {
	font-size:19px;
	color:#6d0861;
	font-style:italic;
	}
#part8 img {
	margin-top:180px;
	margin-left:-400px;
	}
#part8 a img {
	float:left;
	margin-top:370px;
	margin-left:115px;
	}
/*#footer{
	text-align:center;
	margin:20px 0;
	}
#footer a{
	text-decoration:underline;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;

	}
#footer {
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;
	padding-bottom:0px;
	}
#footer ul {
	margin-left:210px;
	}
#footer ul li {
	float:left;
	padding:5px;
	}
#footer ul li a {
	text-decoration:none;
	color:#282828;
	}	*/

/*----form end ----*/

#fix {
	margin-top:-1px;
}

#popup{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 9999;
	clear: none;
	background-color: rgba(255,255,255,0.5);
}
#popupmain{
	position: fixed;
	border: 3px solid #d6d6d6;
	background-color: white;
	width: 760px;
	height: 440px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-240px 0 0 -400px;
	padding: 20px;
}
#popupcontent{
	width: 760px;
	height: 400px;
	overflow-x: hidden;
}
#popupclose{
	width: 760px;
	height: 30px;
	padding-top: 15px;
	text-align: right;
	cursor: pointer;
}
#discountholder{
	display: none;
}

#discountoffset{
	position: relative;
	width: 100%;
	height: 22px;
	padding-top:30px;
}

#discountsection{
	z-index: 9999;
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: red;
	border-bottom: white dashed 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: white;
}
#exit_pop{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 9999;
	clear: none;
	background-color: rgba(0,0,0,0.5);
}
#exit_pop_content {
    cursor: pointer;
    height: 612px;
    left: 50%;
    margin: -306px 0 0 -452px;
    position: absolute;
    top: 50%;
    width: 904px;
}

#popwrap {
	margin-top:54px;
}
#backwrap {
	top:52px;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	text-align:center;
	background:url(https://images.templatemgr.com/templates/v3/img/top-bg.jpg) repeat-x #ededed;
	position:absolute;
	z-index:-1000;
}


.exit_pop_content-trial {
    cursor: pointer;
    height: 408px!important;
    left: 50%;
    margin: -204px 0 0 -344px!important;
    position: absolute;
    top: 50%;
    width: 688px!important;
}
