body {background: #fff repeat-x;}
#ty-section1 {
  height: 1305px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
#ty-content {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1280px;
}
#ty-part1 {
  height: 1162px;
  position: absolute;
  top: 1px;
  width:100%;
  text-align:center !important;
}
#offer2_submit {
  background: url('https://images.templatemgr.com/templates/v3/img/upsell_btn.png') repeat scroll 0% 0% transparent;    width: 316px;height: 79px;display: block;margin: 35px auto 20px;position: absolute;right: 490px;top: 517px;border: medium none;
}
p#msg {
  color: #000;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 19pt;
  left: 290px;
  line-height: 25pt;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  text-align: center;
  top: 95px;
  width: 700px;
}
span {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 19pt;
  font-weight: bold;
}
ul.upsell_pnts {
  height: 142px;
  left: 70px;
  padding: 0;
  position: relative;
  text-align: left;
  top: 515px;
  width: 250px;
}
.upsell_pnts.thank_li > li {	display: block;}
ul.upsell_pnts li {
  color: #dc2e25;
  float: left;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 40px;
  padding-right: 0;
  width: 250px;
}
#thanksmsg {
  width: 100%;
  font-family: Tahoma,Geneva,sans-serif;
  margin-top: 170px;
  font-size: 18px;

}
#offer2img {
  position: relative;
  top: 320px;
  width: 300px;
  left: -215px;
}
#offer2points {
  margin-top: -128px;
}
