#form_contain {
    background-color: #f4f4f4;
    border-right: 2px solid #480767;
    border-left: 2px solid #480767;
    margin-left: -10px;
    margin-bottom: 0px;
}

.CS_black_overlay {
    background-color: black;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#acn_processing {
    border: thin solid #999999;
    border-radius: 0 15px 0 15px;
    box-shadow: 5px 5px 5px #A2A2A2;
    margin-top: 80px;
    padding: 40px;
    position: fixed;
    background-color: #fff;
}

#billing-info {
    padding: 10px;
    margin: 0 0 0 100px;
    width: 100% !important;
}

#billing-info p {
    position: relative;
    right: 100px;
    width: 100% !important;
    font-size: 12px;
    text-align: center;
}

#billing-btn {
    margin-left: 8px;
    margin-top: -14px;
}

#billingDiv {
    width: 306px !important;
    margin-left: -15px !important;
    position: relative;
    right: 95px;
}

#billingDiv p {
    position: relative;
    right: 7px;
}

#form_btm {
    width: 319px;
    max-width: none;
    margin-left: -8px;
}

select[type="text"] {
    height: 35px !important;
}

label {
    clear: right;
    margin-top: 7px !important;
}

#order_info {
    margin-top: 300px;
    padding-left: 280px;
}

#info_box {
    width: 385px;
    float: right;
    padding-right: 20px;
}

#info_box p, #info_box span {
    margin-bottom: 5px !important;
}

#footer.goDown {
    margin-top: 9rem;
}

#form_button {
    margin-top: 10px;
}

form {
}

select[type="text"] {
    height: 30px !important;
    width: 170px !important;
    text-indent: 3px;
    font-size: 12px !important;
    font-weight: 600;
    padding: 0px !important;
    padding-left: 7px !important;
    margin: 0 0 .99rem;
    margin-right: 10px;
    margin-bottom: 8px !important;
    float: none !important;
}

select {
    width: 78px !important;
    padding: .4rem !important;
}

input[type="text"] {
    height: 30px !important;
    width: 170px !important;
    margin-right: 10px;
    margin-bottom: 8px !important;
}

input[type="tel"] {
    height: 30px !important;
    width: 170px !important;
    margin-right: 10px;
    margin-bottom: 8px !important;
}

.input-validation {
    padding-right: 24px !important;
    margin-left: 270px !important;
}

label {
    padding-left: 10px !important;
}

#order-arrow {
    margin-top: -20px;
}

.orderLogoIMG {
    margin-left: -415px;
    margin-top: 5px;
    width: 18%;
}

#fields_expyear {
    margin-right: -57%;
}

#fields_expmonth {
    float: left;
    margin-left: 51px;
}

#billing_state {
    float: right !important;
}

.short-term {
    margin-top: 10px !important;
}

#insuredShipping {
    margin-left: 6px;
    margin-top: -72px;
    position: absolute;
    width: 300px;
    font-size: 12px;
    color: #666;
}

#insuredShipping a {
    font-size: 12px;
    color: #666;
    text-decoration: underline !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #FFF;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#FFF));
    background: -webkit-linear-gradient(top, #FFF, #F2F2F2);
    background: -moz-linear-gradient(top, #FFF, #F2F2F2);
    background: -ms-linear-gradient(top, #FFF, #F2F2F2);
    background: -o-linear-gradient(top, #FFF, #F2F2F2);
    border: 1px solid #DDD;
    color: #666;
    text-align: left;
    padding: 15px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left: -160px;
    margin-top: -140px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

span:before, span:after{
    box-sizing: initial;
}

.expmonth_row .input-validation {
  margin-top: -34px !important;
  margin-right: -66px !important;
}
.expyear_row .input-validation {
  padding-right:24px !important;
  margin-top: -34px !important;
}
.expyear_row, .expmonth_row {
  width: 78px !important;
}
#fields_expyear, #fields_expmonth {
  width: 100% !important;
}
.expyear_row {
  float:right !important;
}
#fields_expyear {
  margin-right: 10px !important;
}
.form_row {
  width: 100% !important;
}
