@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'century_gothicregular';
    src: url('gothic-webfont.eot');
    src: url('gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothic-webfont.woff') format('woff'),
         url('gothic-webfont.ttf') format('truetype'),
         url('gothic-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* start main contents */
#checkout-container{
	width:100%;
	margin:0 auto;
	padding:0;
	height:1030px;
	position:absolute;
	background:url(https://images.templatemgr.com/templates/v3/img/trial-bg.jpg) no-repeat center top;
	background-color: #f0f0f0;
	}
#chk-content{
	width:1004px;
	height:1030px;
	margin:0 auto;
	padding:0;
	position:relative;
	background:url(https://images.templatemgr.com/templates/v3/img/trial-inner.jpg) no-repeat center top #fff;
	}
#chk-left{
	float:left;
	width:550px;
	position:relative;
	margin-top:330px;
	}
.top-text{
	position:absolute;
	font-family: arial;
	color:#6d0861;
	font-size:14px;
	left:140px;
	top:20px;
	font-weight: bold;
	}
.top-text span{
	float:left;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:7px;
	}
.top-text b{
	float:left;
	text-align:left;
	color:#000;
	padding-top:15px;
	font-weight:normal;
	}
.price-txt{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#6d0861;
	font-weight:bold;
	right:6px;
	top:22px;
	}
ul {
	margin-left:170px;
	margin-top:50px;
	width: 400px;
	}
ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	line-height:25px;
	}
#cuponcode{
	position:absolute;
	width:200px;
	left:60px;
	top:220px;
	}
#cuponcode p{
	float:left;
	text-align:left;
	line-height:22px;
	font-size:16px;
	color:#6d0861;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-bottom:10px;
	}
.cpinp{
	float:left;
	height:22px;
	width:66px;
	border:1px solid #b9b9b9;
	outline:none;
	margin-left:10px;
	font-size:12px;
	text-align:center;
	color:#999999;
	padding:0 2px;
	}
.cp-submit{
	float:left;
	width:121px;
	height:32px;
	border:none;
	outline:none;
	margin-top:10px;
	cursor:pointer;
	background:url(https://images.templatemgr.com/templates/v3/img/applycode.png) no-repeat left top;
	}
#f-rate{
	position:absolute;
	width:290px;
	top:208px;
	right:0px;
	}
.tbl-txt{
	font-size:16px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:15px 0 0 0px;
	}
.tbl-txt-red{
	font-size:16px;
	color:#ff003d;
	padding:15px 0 0 0;
	font-family:arial;
	font-weight:bold;
	}
.script-txt{
	text-align:left;
	font-family:Tahoma;
	color:#000000;
	font-size:12px;
	padding:10px 0 0 0;
	line-height:17px;
	}
.script-txt span{background:#fff200;}
.prttxt{
	position:absolute;
	width:580px;
	font-size:12px;
	color:#6c6c6c;
	font-family:Arial, Helvetica, sans-serif;
	top:460px;
	left:60px;
	}
.sec-img{
	width:1004px;
	height:90px;
	margin-top:35px;
	margin-left:-664px;
	}
#formbox{
	position:absolute;
	top: 285px;
	left: 665px;
	}
#form-top{
	background:url(https://images.templatemgr.com/templates/v3/img/form-top.jpg) center top;
	height:118px;
	width:290px;
	}
.chs{
	width:100%;
	color:#fff;
	font-size:14px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
	}
#form-mid{
	background:url(https://images.templatemgr.com/templates/v3/img/form-mid.jpg) repeat-y center top;
	width:290px;
	padding:0;
	}
#form-bottom{
	background:url(https://images.templatemgr.com/templates/v3/img/form-btm.jpg) center top;
	height:90px;
	width:290px;
	}
#form_fields{ margin:15px 0 0 25px;}
#form_fields label{
	float: left;
	font-size: 14px;
	display: block;
	padding-top: 4px;
	width: 90px;
	height: 20px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	}
#form_fields input[type=text]{
	float: left;
	width: 138px;
	height: 22px;
	border:1px solid #b1b0b0;
	outline:none;
	padding:0 3px;
	margin-bottom: 5px;
	}
#cvv{
	width: 70px;
	height: 24px;
	border:1px solid #b1b0b0;
	outline:none;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 4px;
	}
.cvvTip {
	text-decoration: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-right: 20px;
}
#form_fields select{
	float: left;
	width: 145px;
	height: 24px;
	border:1px solid #b1b0b0;
	outline:none;
	padding:2px;
	margin-bottom: 5px;
	}
#fields_expmonth{
	width: 70px;
	height: 24px;
	padding:2px;
	border:1px solid #b1b0b0;
	outline:none;	margin-bottom: 5px;
	margin-right: 2px;
	}
#fields_expyear{
	width: 70px;
	height: 24px;
	border:1px solid #b1b0b0;
	outline:none;
	padding:2px;
	margin-bottom: 5px;
	margin-right: 19px;
	}

.form_title {
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	margin-bottom:10px;
	}
#billingDiv{padding-bottom: 10px;	}
#whats_this{padding-top: 4px;float: left;font-size: 13px;}
#whats_this a{text-decoration: none;color:#fff; font-family:Arial, Helvetica, sans-serif;}
.black_text{color: black;	}
#terms{
	position: absolute;
	top: 805px;
	left: 44px;
	width: 560px;
	height: 63px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	font-size: 11px;
}
#terms a{color: #999;text-decoration:underline;}

img#arrow {
	margin-top:160px;
	margin-left:50px;
	}
#top-txt1 {
	position:absolute;
	top:-125px;
	left:60px;
	width:900px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
	}
#footer-ck{
	text-align:center;
	margin:20px 0;
	}
#footer-ck a{
	text-decoration:underline;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;

	}
#footer-ck {
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:20px;
	padding-bottom:1px;
	margin-left:-670px;
	margin-top:30px;
	}
#footer-ck ul {
	margin-left:335px;
	}
#footer-ck ul li {
	float:left;
	}
#footer-ck ul li a {
	text-decoration:none;
	color:#282828;
	}
#sub-btn {
	padding-top:10px;
	background:url(https://images.templatemgr.com/templates/v3/img/rish-my-trial.png);
}
#discountholder-ck{
	display: block;
}

#discountoffset-ck{
	position: relative;
	width: 100%;
	height: 22px;
	padding: 15px 0;
}

#discountsection-ck{
	z-index: 9999;
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: red;
	border-bottom: white dashed 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/* TRIAL PAGE STYLES */
/*#formbox {
    width: 353px;
    margin-left: 642px;
    margin-top: 295px;
    left: auto;
    top: auto;
    z-index: 10;
    text-align: center;
}*/

#formbox img.formTop {
    display: block;
}

/*#arrow {
    position: absolute;
    width: 100%;
    height: 159px;
    background: url(https://images.templatemgr.com/templates/v3/img/arrow.png) no-repeat top center;
    margin-top: 723px;
    z-index: 9;
}*/

#total-desc {
    top: 670px;
}

#total-price {
    top: 670px;
}

#promo {
    top: 560px;
    left: 270px;
}

.formArea {
    width: 100%;
    background: url(https://images.templatemgr.com/templates/v3/img/order-form-bg.jpg) repeat-y top center;
}

form .methods {
    margin-left: 90px;
}

form .terms .question {
    color: #fff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size:14px;
}

form .terms .question input {
	width: 15px;
	height: auto;
	margin: 4px;
}

form .fields {
    padding-top: 15px;
}

form .fields input{
    width:142px;
	height:20px;
	margin-bottom: 5px;
	margin-right:20px;
}

form .fields select{
    width:146px;
	height:20px;
	margin-bottom: 5px;
	margin-right:20px;
}

form .fields .label {
    width: 90px;
    color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	width:90px;
	float:left;
	padding-top: 4px;
	padding-left:26px;
	text-align:left;

}

form .fields .button {
	width: 268px;
	height: auto;
	margin: 18px 0 0 6px;
}
#cardimg1 {
	margin: 15px 0 15px 0;
}

#chk-bg {
    height: 1100px;
}

/*.footer {
    text-align: left;
}*/

/*#footer ul {
	margin-left: -300px;
	width: 600px;
}
.footer ul li {
    color: #e00301;
}*/

.button{

}
/*--THANK YOU CSS --*/
#ty-section1{
	width:100%;
	margin:0 auto;
	padding:0;
	height:996px;
	background-color: #fff;
	}
#ty-content{
	width:1004px;
	margin:0 auto;
	padding:0;
	position:relative;
	}
#ty-part1 {
	width:1020px;
	height:950px;
	position:absolute;
	top:1px;
	}
p#successmsg {
	margin-top:335px;
	margin-left:165px;
	}
/*p#msg {
	width:720px;
	text-align:center;
	margin-left:105px;
	margin-top:35px;
	font-family:Arial, Helvetica, sans-serif;
	color:#282828;
	}*/


p#msg {
color: #000;
font-family: Tahoma,Geneva,sans-serif;
font-size: 19pt;
left: 290px;
line-height: 25pt;
margin-left: 0px;
margin-top: 0px;
position: relative;
text-align: center;
top: 315px;
width: 700px;
}
span {
	font-size:40px;
	color:#1d498a;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	}
/*#footer{
	text-align:center;
	margin:20px 0;
	padding-top:50px;
	}
#footer a{
	text-decoration:underline;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;

	}
#footer {
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:20px;
	padding-bottom:1px;
	margin-top:120px;
	margin-left:20px;
	}
#footer ul {
	margin-left:335px;
	}
#footer ul li {
	float:left;
	}
#footer ul li a {
	text-decoration:none;
	color:#282828;
	}	*/
