select[type="text"] {
    height: 30px !important;
    width: 170px !important;
    text-indent: 3px;
    font-size: 12px !important;
    font-weight: 600;
    padding: 0px !important;
    padding-left: 7px !important;
    margin: 0 0 .99rem;
    margin-right: 18px;
    margin-bottom: 8px !important;
}

input[type="text"] {
    height: 30px !important;
    width: 170px !important;
    margin-right: 18px;
    margin-bottom: 8px !important;
}

input[type="tel"] {
    height: 30px !important;
    width: 170px !important;
    margin-right: 18px;
    margin-bottom: 8px !important;
}

.input-validation {
    padding-right: 24px !important;
    margin-left: 270px !important;
}

label {
    clear: right;
    padding-left: 18px !important;
    padding-top: .4rem;
}

.topLogo {
    text-align: center;
    width: 100%;
    margin-top: -575px;
    padding-right: 220px;
}

.topProduct {
    text-align: center;
    width: 100%;
    margin-top: -304px;
    padding-right: 530px;
}

#section1 {
    width: 100%;
    height: 561px;
    text-align: center;
    background: url(https://images.templatemgr.com/templates/v3/img/section1.png) top center no-repeat;
    border: none;
    position: relative;
    background-size: cover;
}

#section2 {
    width: 100%;
    height: 853px;
    text-align: center;
    background: url(https://images.templatemgr.com/templates/v3/img/section2.png) top center no-repeat;
    border: none;
    position: relative;
    background-size: cover;
}

#section3 {
    width: 100%;
    height: 642px;
    text-align: center;
    background: url(https://images.templatemgr.com/templates/v3/img/section3.png) top center no-repeat;
    border: none;
    position: relative;
    background-size: cover;
}

#section4 {
    width: 100%;
    height: 1340px;
    text-align: center;
    background: url(https://images.templatemgr.com/templates/v3/img/section4.png) top center no-repeat;
    border: none;
    position: relative;
    background-size: cover;
}

#section5 {
    width: 100%;
    height: 559px;
    text-align: center;
    background: url(https://images.templatemgr.com/templates/v3/img/section5.png) top center no-repeat;
    border: none;
    position: relative;
    background-size: cover;
}

#tabtitle {
    font-size: 26px;
    font-weight: bold;
    color: #FFF;
    float: left;
    margin-left: 88px;
    margin-top: 42px;
    display: inline;
}

#tabtitle4 {
    font-size: 26px;
    font-weight: bold;
    color: #FFF;
    float: left;
    margin-left: 88px;
    margin-top: 486px;
    display: inline;
}

#desc1 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    color: #444 !important;
    text-align: left;
    float: left;
    width: 500px;
    margin-left: 88px;
    margin-top: 8px;
    display: inline;
}

#desc2 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
    color: #444 !important;
    text-align: left;
    float: left;
    width: 400px;
    margin-left: 290px;
    margin-top: 40px;
    display: inline;
}

#desc3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    color: #444 !important;
    text-align: left;
    float: right;
    width: 300px;
    margin-right: 94px;
    margin-top: 266px;
    display: inline;
}

#desc3top {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
    color: #444 !important;
    text-align: left;
    float: left;
    width: 640px;
    margin-left: 88px;
    margin-top: 8px;
    display: inline;
}

#desc4 {
    font-size: 14px;
    line-height: 1.2em;
    font-weight: normal;
    color: #444 !important;
    float: right;
    width: 296px;
    text-align: left;
    margin-right: 438px;
    margin-top: 680px;
    display: inline;
}

#bottle2 {
    float: right;
    margin-right: 140px;
    margin-top: -40px;
}

#bottle5 {
    float: right;
    margin-right: 384px;
    margin-top: 260px;
}

.purple {
    color: #7e0eb4;
    font-weight: bold;
}

#logo4 {
    text-align: center;
    width: 100%;
}

#logo5 {
    float: left;
    margin-left: 180px;
    margin-top: 45px;
}

.right {
    text-align: right;
}

span:before, span:after {
    box-sizing: initial;
}

#topMain > div.topLogo > img, #logo5 > img {
    width: 200px;
}
