body {
    background: #FFF url(https://images.templatemgr.com/templates/v3/img/bg.png) top center no-repeat;
    background-size: 100%;
}

.contain {
    padding-top: 50px;
}

.headerIMG {
    border: 3px solid #8a12c2;
}

.box {
    background: #FFF;
    border: 1px;
    border-style: solid;
    margin: 40px;
    text-align: left;
    padding: 20px;
    padding-left: 40px;
    border-color: #845542;
}

.tybox {
    background: #FFF;
    padding 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid #8a12c2;
}

.thanks h6 {
    font-size: 28px;
    font-weight: bold;
}

.thanks h3 {
    font-size: 16px;
}

.thanks .large-12.columns .comf_top_info, .thanks .large-12.columns .order_con, .comf_page_bottom * {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.thanks .large-12.columns .comf_top_info, .thanks .large-12.columns .order_con, .comf_page_bottom {
    border: 1px solid #845542;
    font-size: 12px;
    margin: 20px;
    padding: 10px 20px;
    text-align: left;
}

.thanks .flt-lt {
    float: left;
}

.thanks .flt-rt {
    float: right;
}

.thanks .large-12.columns .comf_top_info li, .thanks .large-12.columns .order_con li, .thanks .large-12.columns.comf_page_bottom li {
    border-top: 1px solid #845542;
    clear: both;
    height: 35px;
    padding: 6px 0;
}

.clear {
    clear: both;
}

.comf_page_bottom {
    border: medium none;
    margin: 0 0 10px 0 !important;
}

.thanks .large-12.columns .comf_top_info, .thanks .large-12.columns .order_con, .comf_page_bottom {
    font-size: 13px;
    list-style-type: none;
}

.thanks .large-12.columns .comf_top_info li, .thanks .large-12.columns .comf_top_info ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 5px 0 !important;
}

.thanksLogoIMG {
    margin-top: -199px;
    margin-left: -485px;
    width: 15%;
}
